/* Add this to your existing CSS file or create a new one */
.locker-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.locker-info {
    display: flex;
    flex-direction: column; /* Change to column */
    align-items: center;
    background-color: #f0f0f0; /* Greyish background color */
    padding: 20px;
    max-width: 600px;
}

.locker-info h1 {
    margin-top: 0;
}

.locker-image {
    max-width: 50%;
}

.locker-details {
    padding-top: 20px; /* Adjust padding to create space between number and image */
}

.calendar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.total-price {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.paypal {
    display: flex;
    justify-content: center; /* Center align the contents */
    margin-top: 20px; /* Add margin to the top */
}

.paypal-container {
    display: flex;
    justify-content: center; /* Center align the contents */
    margin-top: 20px; /* Add margin to the top */
}
