.login-container h1 {
  font-size: 800%;
  text-align: center;
  transition: color 3s;
}

.login-container h1:hover {
  color: #646cff;
}

.login-container button {
  font-size: 200%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  display: block;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: border-radius 1.25s;
}

.login-container button:hover {
  border-color: #646cff;
  color: #646cff;
  border-radius: 10%;
}

.login-container button:focus,
.login-container button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.login-container {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/sanbnb-43299.appspot.com/o/images%2FDesign%20ohne%20Titel.png?alt=media&token=8793fb51-e7ac-4d20-bd1d-4f556bf1d205");
  background-size: cover;
  background-size: 50% 100%;
}

