
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

.liright {
  float: right;
}

.licenter {
  float: center;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 1.5s;
  font-size: large;
  font-weight: bold;
  
}


li a:hover {
  border-color: #000000;
  color: #646cff;
}

