/* Add this to your existing CSS file or create a new one */
.info-container {
    display: flex;
    background-color: #f0f0f0; /* Greyish background color */
    padding: 20px;
}

.info-text {
    flex: 1;
}

.video-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    max-width: 100%;
    max-height: 100%;
}

.locker-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.locker-item {
    background-color: #f0f0f0; /* Greyish background color */
    width: 400px;
    margin-bottom: 10px;
    padding: 10px;
}

.locker-item img {
    max-width: 50%;
    float: center;
    margin-left: 20px;
    margin-right: 20px;
}

.locker-details {
    float: center;
}
